{% extends 'base.html' %}

{% block content %}
  <section class="body-main-centring">
    <h1 class="newspaper-detail-h1">{{ newspaper.title }}</h1>
    <br>
    <p class="newspaper-content">{{ newspaper.content }}</p>
    <p><i>{{ newspaper.published_date }}</i></p>
    <p>
      <strong>Author{{ newspaper.publishers.count|pluralize }}:</strong>
      {% for publisher in newspaper.publishers.all %}
        {{ publisher.first_name }} {{ publisher.last_name }}
      {% endfor %}
    </p>
    {% if user.is_authenticated %}
      <a href="{% url 'newspaper:newspaper-update' pk=newspaper.id %}" class="btn btn-outline-primary">Edit this newspaper</a>
      <a href="{% url 'newspaper:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger my-xxl-3">Delete this newspaper</a>
    {% endif %}
  </section>
{% endblock %}