{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    {{newspaper.title}}
     <br>
     {% for redactor in newspaper.publishers.all %}
      {{redactor.first_name }} {{redactor.last_name}}

     {% endfor %}
    <br>
    {{newspaper.topic}}
    {{newspaper.published_date}}
    <br>
    {{newspaper.content}}
     <br>
    <a href="{% url 'newspaper:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger">
      Delete
    </a>

    <a href="{% url 'newspaper:newspaper-update' pk=newspaper.id %}" class="btn btn-secondary">
      Update
    </a>
{%endblock%}