{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}

    <h1> Topic {{ topic.name }} </h1>
    {% if topic.newspapers.all %}
        {% for newspaper in  topic.newspapers.all %}
           <p>{{ newspaper.title }}</p>
        {% endfor %}
    {% else %}
     <p>No</p>
    {% endif %}
    <a href="{% url 'newspaper:topic-delete' pk=topic.id %}" class="btn btn-danger">
      Delete
    </a>

    <a href="{% url 'newspaper:topic-update' pk=topic.id %}" class="btn btn-secondary">
      Update
    </a>
{% endblock %}